<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.shu.xj.ser.mapper.AdminMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="AdminResultMap" type="cn.edu.shu.xj.ser.entity.Admin">
        <result column="review_id" property="reviewId"/>
        <result column="service_id" property="serviceId"/>
        <result column="user_id" property="userId"/>
        <result column="order_id" property="orderId"/>
        <result column="score" property="score"/>
        <result column="content" property="content"/>
    </resultMap>
</mapper>
