<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.shu.xj.ser.mapper.ServiceproviderMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="ServiceproviderResultMap" type="cn.edu.shu.xj.ser.entity.Serviceprovider">
        <result column="provider_id" property="providerId"/>
        <result column="provider_pwd" property="providerPwd"/>
        <result column="description" property="description"/>
        <result column="provider_add" property="providerAdd"/>
        <result column="verified" property="verified"/>
    </resultMap>
</mapper>
